
@font-face {
    font-family: 'Permanent';
    src: url("../assets/fonts/PermanentMarker-Regular.ttf");
}

/* main */

.main-wrap {
    width: 100%;
    height: 100vh;
}

.main-wrap {
    height: auto;
    padding-left: 6.25rem;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.main-content {
    width: 30rem;
    height: 500px;
    background: #fff;
    margin-bottom: 1.25rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

/* navbar */

.nav-wrap {
    width: 6.25rem;
    height: 100vh;
    background: #189bfa;
    position:fixed;
    top: 0;
    left: 0;
}

.nav-image {
    height: 7.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    height: calc(100% - 7.8rem);
    display: flex;
    flex-flow: column nowrap;
}

.nav-menu-item {
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu-item-content {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #fff;
}

.nav-menu-item-content:hover {
    background: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    transform: scale(1.1);
}

.nav-exit-btn {
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #fff;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.nav-exit-btn:hover {
    background: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

/* login */

.login-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login-content {
    width: 22rem;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.login-head-text {
    position: absolute;
    top: 9rem; left: 50%;
    transform: translate(-50%, 0);
    font-size: 6.25rem;
    font-family: 'Permanent';
}

.login-text {
    height: 6.25rem;
    line-height: 6.25rem;
    font-size: 2.2rem;
    color: #fff;
    background-color: #189bfa;
}

.login-form {
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
}

.custom-input-label {
    width: 100%;
}

.custom-input-text {
    width: 100%;
    height: 4.5rem;
    border: 1px solid #eee;
    margin-top: 0.625rem;
    padding-left: 0.5rem;
}

.custom-input-text:focus {
    border: none;
    outline: 1px solid #aaa;
}

.btn-wrap {
    width: 100%;
    margin-top: 1.25rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.btn {
    height: 4.5rem;
    background-color: #189bfa;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    margin-top: 1.25rem;
}

/* join */

.join-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-content {
    width: auto;
}

.join-header {
    width: 22rem;
    text-align: center;
    margin-bottom: 20px;
    height: 6.25rem;
    line-height: 6.25rem;
    font-size: 2.2rem;
    color: #fff;
    background-color: #189bfa;
}

.join-form {
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
}

.custom-input-label {
    width: 100%;
}

.custom-input-text {
    width: 100%;
    height: 4.5rem;
    padding-left: 0.5rem;
    border: 1px solid #eee;
    margin-top: 1.25rem;
}

.custom-input-text:focus {
    border: none;
    outline: 1px solid #aaa;
}

.valid-text {
    display: none;
    width: 100%;
    text-align: left;
    margin-top: 0.75rem;
}

.btn {
    width: 100%;
    height: 4.5rem;
    background-color: #189bfa;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    margin-top: 1.25rem;
}
